/*===== GOOGLE FONTS =====*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (max-width: 480px) {
  html{
    width: 100%;
  }
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  body {
    width: 100%;
    /* margin: var(--header-height) 0 0 0; */
    font-family: var(--body-font);
    /* font-size: var(--normal-font-size); */
    font-size: 12px;
    color: var(--second-color);
  }
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    padding: 1%;
  }
  .l-main{
    width: 100%;
  }
  .home {
    width: 100%;
    position: relative;
    padding: 4rem 1rem 5rem 1rem; 
    /* padding: 17% 1% 17% 3%; */
  }
  .video-column {
    width: 32%;
    /* max-width: 500px; Adjust this as per your layout */
    position: relative;
    padding-bottom: 100%; /* This maintains a 1:1 aspect ratio */
    /* max-height: 300px; */
  }
  
  .video-column video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover; /* Ensures the video covers the container */
  }
  
  /*===== BASE =====*/
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  
  h1, h2, p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== CLASS CSS ===== */
  .section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }
  .section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  .contact__container{
    padding: 2%;
  }
  .nav__item {
    margin-bottom: var(--mb-4);
  }
  .nav__link {
    position: relative;
    color: #fff;
  }
  .nav__link:hover {
    position: relative;
  }
  .nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav__logo {
    color: var(--second-color);
  }
  .nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show {
    right: 0;
  }
  
  /*===== HOME =====*/
  
  .home__data {
    align-self: center;
  }
  .home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  .home__title-color {
    color: var(--first-color);
  }
  .home__social {
    display: flex;
    /* flex-direction: column; */
    height: 90px;
  }
  .home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
  }
  .home__social-icon:hover {
    color: var(--first-color);
  }
  .home__img {
    position: absolute;
    right: 1%;
    bottom: -3%;
    width: 260px;
  }
  .home__blob {
    fill: var(--first-color);
  }
  .home__blob-img {
    width: 489px;
  }
  .about__container {
    row-gap: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5%;
  }
  .about__subtitle {
    margin-bottom: var(--mb-2);
  }
  .about__img {
    justify-self: center;
  }
  .about__img img {
    width: 200px;
    border-radius: 0.5rem;
  }
  
  /* ===== SKILLS =====*/
  .skills__container {
    row-gap: 2rem;
    text-align: center;
    padding: 2%;
  }
  .skills__subtitle {
    margin-bottom: var(--mb-2);
  }
  .skills__text {
    margin-bottom: var(--mb-4);
  }
  .skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  }
  .skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  .skills__names {
    display: flex;
    align-items: center;
  }
  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
  }
  .skills__html {
    width: 95%;
  }
  .skills__css {
    width: 85%;
  }
  .skills__js {
    width: 65%;
  }
  .skills__ux {
    width: 85%;
  }
  .skills__img {
    border-radius: 0.5rem;
  }
  
  /* ===== WORK =====*/
  .work__container {
    row-gap: 2rem;
  }
  .work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .work__img img {
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.1);
  }
  
  /* ===== CONTACT =====*/

  .contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  .contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }
  
  /* ===== FOOTER =====*/
  .footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    width: 100%;
  }
  .footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social {
    margin-bottom: var(--mb-4);
  }
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
  .footer__copy {
    font-size: var(--smaller-font-size);
  }
  .video-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  
  }
}

@media screen and (min-width: 480px){
  html{
    width: 100%;
  }
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }

  body {
    width: 100%;
    /* margin: var(--header-height) 0 0 0; */
    font-family: var(--body-font);
    /* font-size: var(--normal-font-size); */
    font-size: 12px;
    color: var(--second-color);
  }
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    padding: 1%;
  }
  .l-main{
    width: 100%;
  }
  .home {
    width: 100%;
    position: relative;
    padding: 4rem 1rem 5rem 1rem; 
    height: 100vh;
    /* padding: 17% 1% 17% 3%; */
  }
  .video-column {
    width: 32%;
    /* max-width: 500px; Adjust this as per your layout */
    position: relative;
    padding-bottom: 30%;
    /* height: 100%; */
     /* This maintains a 1:1 aspect ratio */
    /* max-height: 300px; */
  }
  
  .video-column video {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    padding: 10px;
  }
  
  .work{
    /* height: 100vh; */
  }
  /*===== BASE =====*/
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  
  h1, h2, p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /*===== CLASS CSS ===== */
  .section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom:5px;
    text-align: center;
    font-size: 2rem;
    /* padding:; */
  }
  .section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    margin-top:5px;
    margin-bottom: 10px;
    background-color: var(--first-color);
  }
  
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .about{
    height:100vh
  }
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  .contact__container{
    padding: 2%;
  }
  .nav__item {
    margin-bottom: var(--mb-4);
  }
  .nav__link {
    position: relative;
    color: #fff;
  }
  .nav__link:hover {
    position: relative;
  }
  .nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav__logo {
    color: var(--second-color);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show {
    right: 0;
  }
  
  /*===== HOME =====*/
  
  .home__data {
    align-self: center;
  }
  .home__title {
    /* font-size: var(--big-font-size);
    margin-bottom: var(--mb-5); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    font-size: 4rem;
    margin-left: 18%;
    margin-top: 17rem
  }
  .home__title-color {
    color: var(--first-color);
  }
  .videoeditor{
    font-size: 2rem;
  }
  .home__social {
    display: flex;
    /* flex-direction: column; */
    /* height: 90px; */
    /* margin-top: 1%; */
    margin-left: 17.5%;
  }
  .home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
    padding: 1%;
  }
  .home__social-icon:hover {
    color: var(--first-color);
  }
  .home__img {
    position: absolute;
    right: 8%;
    top: 18%;
    /* bottom: -3%; */
    width: 37%;
  }
  .home__blob {
    fill: var(--first-color);
  }
  .home__blob-img {
    width: 489px;
  }
  .about__container {
    row-gap: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5%;
  }
  .about__subtitle {
    margin-bottom: var(--mb-2);
  }
  .about__img {
    justify-self: center;
  }
  .about__img img {
   
    margin: auto;
    padding: 15px;
    width: 50%;
    border-radius: 0.5rem;
  }
  .about__text{
    font-size: 1.5rem;
    width:60%;
    margin: auto;
  }
  
  /* ===== SKILLS =====*/
  .skills{
    height: 100vh;
  }
  .skills__container {
    row-gap: 2rem;
    text-align: center;
    padding: 2%;
  }
  .skills__subtitle {
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
  }
  .skills__text {
    margin-bottom: var(--mb-4);
  }
  .skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    width:70%;
    margin: auto;
    margin-bottom: var(--mb-4);

  }
  .skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
  }
  .skills__names {
    display: flex;
    align-items: center;
  }
  .skills__name{
    font-size: 1rem;
  }
  .skills__percentage{
    font-size: 1rem;
  }
  .skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
  }
  .skills__html {
    width: 95%;
  }
  .skills__css {
    width: 85%;
  }
  .skills__js {
    width: 75%;
  }
  .skills__ux {
    width: 85%;
  }
  .skills__img {
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 1.5rem;
  }
  
  /* ===== WORK =====*/
  .work__container {
    row-gap: 2rem;
  }
  .work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .work__img img {
    transition: 1s;
  }
  .work__img img:hover {
    transform: scale(1.1);
  }
  
  /* ===== CONTACT =====*/
  /* .contact{
    height: 100vh;
  } */
  .contact__input {
    width: 70%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin: auto;
    margin-bottom: var(--mb-4);
    display: flex;
  }
  .contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }
  
  /* ===== FOOTER =====*/
  .footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    width: 100%;
  }
  .footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social {
    margin-bottom: var(--mb-4);
  }
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  }
  .footer__copy {
    font-size: var(--smaller-font-size);
  }
  .video-row {
    display: flex;
    width: 100%;
    justify-content:center;
  
  }
}